
<div id="d3-drawer" class="drawer hidden" style='padding: 5px; margin: 10px;'>
  <img id="d3-background-image">
  <svg id="canvas" viewBox="0,0,960,600"></svg>
  <svg id="ui" width="200px" height="200px"></svg>
</div>

<script type="text/javascript" src="/js/d3_drawer.js"></script>
