
<div id="d3-drawer" class="drawer hidden" style='padding: 5px; margin: 10px;'>
  <img id="d3-background-image" width="960px" height="600px">
  <svg id="canvas" width="960px" height="600px"></svg>
  <svg id="ui" width="200px" height="200px"></svg>
</div>

<script type="text/javascript" src="/js/d3_drawer.js"></script>
