<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>KRas Email</title>

  <style>
    html {
      line-height: 1.15;
    }


    body {
      margin: 0;
    }


    main {
      display: block;
    }

    h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }
  </style>
  <style>
    .baseLayer {
      background-color: #f0f0f0;
      padding: 15px;
    }

    .emailLayer {
      max-width: 680px;
      background: white;
      margin: auto;
      padding: 15px;

      text-align: center;

      img {
        max-width: 200px;
        margin: auto;
      }
    }
  </style>
  {{ >scripts }}
  {{ >styles }}
</head>

<body>
  <div class="baseLayer">
    <div class="emailLayer">

      <img class="logo" src="https://www.pathos.co/images/petermac_logo.png" alt="Peter Mac Logo">

      <h1>Hello World</h1>

      <p>Voluptate ipsum voluptate duis velit magna esse veniam deserunt ad consectetur. Reprehenderit non ullamco
        tempor
        quis esse velit nulla irure dolor ullamco mollit esse. Enim pariatur proident fugiat cupidatat excepteur fugiat
        velit. Ullamco magna enim quis do labore ad tempor consectetur enim ullamco eu id. Mollit non excepteur nulla
        anim
        et id. Aliqua excepteur veniam officia fugiat esse cillum aliquip eiusmod cillum. Consectetur pariatur ut
        excepteur
        ut ad consequat dolor.</p>
    </div>



  </div>
</body>

</html>