<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>KRas Email</title>

  <style>
    html {
      line-height: 1.15;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      margin: 0;
    }


    main {
      display: block;
    }

    h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }
  </style>
  <style>
    .baseLayer {
      background-color: #f0f0f0;
      padding: 15px;
    }

    .emailLayer {
      max-width: 680px;
      background: white;
      margin: auto;

      text-align: center;

      img.logo {
        background: white;
        padding: 15px;
        max-width: 250px;
        margin: auto;
      }
    }

    .banner {
      color: white;
      background-color: #4b5563;
      width: 100%;
      padding: 5px 0;
    }

    .main {
      padding: 15px;
      text-align: left;
    }
  </style>
  {{ >styles }}
</head>

<body>
  <div class="baseLayer">
    <div class="emailLayer">

      <img class="logo" src="https://www.pathos.co/images/petermac_logo.png" alt="Peter Mac Logo">

      <div class="banner">
        <h1>Your personal KRas report</h1>
      </div>

      <div class="main">
        <p>Hello {{ name }},</p>
        <p>Thank you very much for participating in our study to assess the Interactive KRas Resource. We have attached
          your personal KRas report as a PDF to this email. You can also access your report online at our <a href="https://pathos.co/kras/{{hash}}">website</a>.
        </p>
        <p>Please feel free to share this information with your family
          and friends, and even your GP.</p>
        <p>Thank you again for your participation and best wishes.</p>
        <p style="margin-bottom: 0;">The KRas Oncology Team,</p>
        <p style="margin-top: 0;">Peter MacCallum Cancer Centre</p>
      </div>

    </div>



  </div>
</body>

</html>