<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>KRAS Annotation</title>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/canvas/canvas.css">
  <link rel="stylesheet" href="/css/kras.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  {{> styles }}
  <script src="/js/vendor.min.js"></script>
  <script src="/js/showdown.min.js"></script>

</head>

<body>
  <div id="wrapper" class="container-fluid page">
    <div class="row">
      <div class="col-md-2 col-xs-3 sidebar">
        <a href="#Welcome" onclick="welcome()"><img class="pmac_logo" src="/images/petermac_logo.png"></a>
        {{! <input placeholder="Placeholder"> }}
        <ul>
          <li><a href="#Welcome" class="selected" onclick="welcome()">Welcome</a></li>
          <li><a href="#Introduction" onclick="introduction()">Introduction</a></li>
          <li><a href="#Video" onclick="video()">Video</a></li>
          <li><a href="#Images" onclick="toggleImageLinks()">Images</a></li>
          {{#images}}
          <li class="hidden image">
            <a href="#{{image}}" onclick="openScreen({{id}})">{{name}}</a>
          </li>
          {{/images}}
          <li><a href="#Terms" onclick="terms()">Definitions</a></li>
          <li><a href="#Email" onclick="email()">Email to Patient</a></li>
        </ul>
      </div>
      <div class="col-md-10 col-xs-9">

        <div id="d3-drawer" class="drawer hidden">
          <div id="drawer-ui">
            <svg id="pallete" viewBox="0,0,150,50">
              <g transform="translate(15,15)">
                <circle stroke="grey" class="swatch active" cx="0" cy="0" r="11" fill="#333333"></circle><circle stroke="grey" class="swatch" cx="13" cy="22" r="11" fill="#ffffff"></circle><circle stroke="grey" class="swatch" cx="26" cy="0" r="11" fill="#1b9e77"></circle><circle stroke="grey" class="swatch" cx="39" cy="22" r="11" fill="#d95f02"></circle><circle stroke="grey" class="swatch" cx="52" cy="0" r="11" fill="#7570b3"></circle><circle stroke="grey" class="swatch" cx="65" cy="22" r="11" fill="#e7298a"></circle><circle stroke="grey" class="swatch" cx="78" cy="0" r="11" fill="#66a61e"></circle><circle stroke="grey" class="swatch" cx="91" cy="22" r="11" fill="#e6ab02"></circle><circle stroke="grey" class="swatch" cx="104" cy="0" r="11" fill="#a6761d"></circle><circle stroke="grey" class="swatch" cx="117" cy="22" r="11" fill="#666666"></circle></g>
            </svg>

            <input id="colorInput" name="colorInput" value="#333333" type="color" style="width:60px;height:60px;">

            <div id="strokeWidth">
              <p>5px width</p>
              <input id="lineWidthInput" name="lineWidthInput" type="range" min="0.5" max="50" value="5" step="0.5">
            </div>
 
            <h1 id="imageTitle"></h1>

            <text class="btn" dy="0.35em" style="float:right;"></text>
          </div>
        </div>

        <form action="/saveDetails" id="saveForm" method="post">
          <div id="noteBox">
            <h3>Notes:</h3>
            <textarea name="text-0" id="text-0" class="bigText hidden" for="saveForm">{{text-0}}</textarea>
            <textarea name="text-1" id="text-1" class="bigText hidden" for="saveForm">{{text-1}}</textarea>
            <textarea name="text-2" id="text-2" class="bigText hidden" for="saveForm">{{text-2}}</textarea>
            <textarea name="text-3" id="text-3" class="bigText hidden" for="saveForm">{{text-3}}</textarea>
            <textarea name="text-4" id="text-4" class="bigText hidden" for="saveForm">{{text-4}}</textarea>
            <textarea name="text-5" id="text-5" class="bigText hidden" for="saveForm">{{text-5}}</textarea>
          </div>

          <div id="emailForm" class="row hidden">
            <div class="col-xs-9">
              <h1>Email to patient:</h1>
              <div id="patientDetailForm">
                <table>
                  <tr>
                    <td>First Name:</td>
                    <td><input value="{{firstName}}" for="saveForm" id="firstName" name="firstName" value=""
                        required="true"></td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td><input value="{{lastName}}" for="saveForm" id="lastName" name="lastName" value="" required="true">
                    </td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td><input value="{{email}}" for="saveForm" id="email" name="email" type="email" value=""
                        required="true"></td>
                  </tr>
                  <tr>
                    <td>Doctor:</td>
                    <td><input value="{{doctor}}" for="saveForm" id="doctor" name="doctor" value="" required="true"></td>
                  </tr>
                  <tr>
                    <td>Send email:</td>
                    <td><input type="checkbox" for="saveForm" name="tickedEmailBox"></td>
                  </tr>
                </table>
                <input value="Save details" type="submit">
                <div id="hiddenData" style="display: none;">
                  <textarea value="{{lineData}}" name="lineData" id="lineData" for="saveForm"></textarea>
                  <input value="{{hash}}" name="hash" for="saveForm">
                </div>
              </div>

              <div id="emailExtraInfo"></div>


            </div>
            <div class="sideBanner col-xs-3"></div>
          </div>

          <div id='contentBox'></div>

        </form>
      </div>
    </div>
  </div>

  {{> scripts }}

  <script type="text/javascript" src="/js/simplify.js"></script>
  <script type="text/javascript" src="/js/d3_drawer.js"></script>

  <script type="text/javascript">
    let images = {{{ imagesJson }}}.map((blob) => {
      blob.lines = new Array();
      return blob
    });

    {{ #lineData }}
    let lineData = {{{ lineData }}}
    lineData.forEach(function(line, i) {
      images[i].lines = line
    })
    {{/lineData}}
  </script>

  <script type="text/javascript" src="/js/wrapper.js"></script>

</body>

</html>