<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>KRAS Annotation</title>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/drawerJs/drawerJs.css"/>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/canvas/canvas.css">
	<style>
	body,
    html {
      {{! position: fixed; }}
      {{! width: 100vw; }}
    }
    div#footer {
        background: white;
        border-top: solid 1px black;
        height: 15vh;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
    #footer .nav-button {
        background: white;
        padding: 0.5vh;
        width: 15vh;
        height: 15vh;
        margin-right: -5px;
        cursor: pointer;
    }

    #footer .nav-button img {
        object-fit: cover;
    }
    #footer .nav-button:hover {
        border: solid 3px black;
        background: red;
    }

    img.bigImage, textarea.bigText {
        width: 70vw;
    }
    #noteBox {
        margin-top: 550px;
    }
    #imageTitle {
        text-align: center;
    }
	</style>
    {{> styles }}
    <script src="/js/vendor.min.js"></script>
    <script src="/drawerJs/drawerJs.standalone.js"></script>
    <script src="/js/showdown.min.js"></script>

</head>

<body>
    <div id="wrapper" class="container-fluid page">
        <div class="row">
            <div class="col-md-2 col-xs-3 sidebar">
                <span>Kras mutation</span>
                {{! <input placeholder="Placeholder"> }}
                <ul>
                    <li><a href="#Welcome" onclick="welcome()">Welcome</a></li>
                    {{#images}}
                    <li>
                        <a href="#{{image}}" onclick="openScreen({{id}})">{{name}}</a>
                    </li>
                    {{/images}}
                    <li><a href="#Email" onclick="email()">Email</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-xs-9">
                <h1 id="imageTitle" class="hidden">Hello</h1>
                {{> content }}
            {{! Content goes here! }}
                <form action="/saveDetails" id="saveForm" method="post">

                <div id='contentBox'></div>

                <div id="noteBox">
                    <h3>Notes:</h3>
                    <textarea name="text-1" id="text-1" class="bigText hidden" for="saveForm">{{text-1}}</textarea>
                    <textarea name="text-2" id="text-2" class="bigText hidden" for="saveForm">{{text-2}}</textarea>
                    <textarea name="text-3" id="text-3" class="bigText hidden" for="saveForm">{{text-3}}</textarea>
                    <textarea name="text-4" id="text-4" class="bigText hidden" for="saveForm">{{text-4}}</textarea>
                    <textarea name="text-5" id="text-5" class="bigText hidden" for="saveForm">{{text-5}}</textarea>
                </div>

                <div id="emailForm" class="hidden">
                    <table>
                        <tr><td>First Name:</td>
                        <td><input value="{{firstName}}" for="saveForm" id="firstName" name="firstName" value="" required="true"></td></tr>
                        <tr><td>Last Name:</td>
                        <td><input value="{{lastName}}" for="saveForm" id="lastName" name="lastName" value="" required="true"></td></tr>
                        <tr><td>Email:</td>
                        <td><input value="{{email}}" for="saveForm" id="email" name="email" type="email" value="" required="true"></td></tr>
                        <tr><td>Doctor:</td>
                        <td><input value="{{doctor}}" for="saveForm" id="doctor" name="doctor" value="" required="true"></td></tr>
                        <tr><td>Send email:</td>
                        <td><input type="checkbox" for="saveForm" name="tickedEmailBox"></td></tr>
                    </table>
                    <input value="Save details" type="submit">
                    <div id="hiddenData" style="display: none;">
                        <textarea value="{{lineData}}" name="lineData" id="lineData" for="saveForm"></textarea>
                        <input value="{{hash}}" name="hash" for="saveForm">
                    </div>
                </div>

                </form>
            </div>
        </div>
    
    </div>

{{!     
    <div id="footer">
        <div>
            <img class="nav-button" src="/images/home.png">
            {{#images} }
            <img class="nav-button" src="/images/{{image} }">
            {{/images} }
            <img class="nav-button" src="/images/email.png">

        </div>
    </div>
}}


{{> scripts }}

<script type="text/javascript">
const md = new showdown.Converter({openLinksInNewWindow: true});

function welcome() {
    hideEverything();

    $("#contentBox").html(md.makeHtml(`#KRas Interactive Resource
    
#What is K-Ras?

K-Ras is a protein that forms part of a cell signalling pathway. This pathway instructs your cells to grow and divide or to mature and take on specialised functions. To stop these pathways functioning when not needed, K-Ras is bound to a regulating switch that keeps it turned off. In order for K-Ras to send signals, it needs to be turned on. To do this, the regulating switch is swapped for an ‘on-switch’. K-Ras is then active and can send signals for cells to grow, divide or mature. When no longer required, the K-Ras protein is turned off again by cleaving the on-switch, converting it back to the inactive state. When K-Ras is switched off, it cannot send signals.

#What Goes Wrong with K-Ras?
Changes in the genetic code for K-Ras have the potential to cause normal cells to become cancerous. One such change leads to a swap of the amino acid glycine for cystine at position 12 in the K-Ras protein. This change in K-Ras is known as a ‘G12C’ mutation. A G12C mutation is acquired during a person's lifetime; it is not inherited. This change results in a K-Ras protein that is constantly switched on. The result is that affected cells are directed to grow and divide out of control, leading to tumour formation.

#K-Ras and Cancer
KRAS mutations occur in 17-25% of all human cancers. Furthermore, the G12C mutation accounts for about 44% of all KRAS mutations. Indeed, in non-small cell lung carcinoma, which is the most commonly occurring form of lung cancer, 13% of patients have this G12C mutation. The G12C mutation also occurs in 1-3% of colorectal and pancreatic cancer patients.

#Treating Mutant G12C K-Ras
Despite a significant number of lung and colorectal cancer patients affected by the G12C mutation, developing effective treatments has proven challenging. It has been difficult to find an area on the surface of the K-Ras protein where a drug might get a foothold to disrupt the unchecked cell division. Recently, however, a couple of inhibitors have been developed that lock the G12C mutant K-Ras protein in the inactive state, without affecting the normal function of unmutated K-Ras. These inhibitors show great potential for the treatment of G12C mutant K-Ras cancers.

#Link to Protein Databank:
[Mutant KRAS interacting with AMG 510](https://www.rcsb.org/pdb/explore/jmol.do?structureId=6oim&bionumber=1&jmolMode=HTML5)

#The Role of K-Ras in Cancer video:`)).append(`<iframe width="560" height="315" src="https://www.youtube.com/embed/pD5q4TlZW-M?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`);
}

let images = {{{imagesJson}}}.reduce((acc,d) => {
    const blob = d;
    blob.lines = new Array();
    acc[d.id] = blob;
    return acc;
}, {});

{{#lineData}}
images = {{{lineData}}}
{{/lineData}}

let currentScreen = null;
welcome();

function hideEverything() {
    $("#contentBox").html("");
    d3.selectAll(".bigText").classed("hidden", true);
    d3.selectAll(".drawer").classed("hidden", true);
    d3.select("#noteBox").classed("hidden", true);
    d3.select("#emailForm").classed("hidden", true);
    d3.select("#imageTitle").classed("hidden", true);

    if(currentScreen) {
        console.log("saving data for "+currentScreen);
        console.log(drawing_data.lines);
        images[currentScreen].lines = drawing_data.lines.map(d => {
            return {
                points: d.points,
                color: d.color
            };
        });

        $("#lineData").val(JSON.stringify(images));
    } else {
        console.log("Not on a screen to save..?");
    }

}

function openScreen(id){
    hideEverything();
    d3.select("#noteBox").classed("hidden", false);
    const blob = drawing_data = images[id],
          image = blob.image;
    currentScreen = id;

    d3.select("#imageTitle").classed("hidden", false).text(blob.name);

    paint(drawing_data);

    d3.select(".drawer").classed("hidden", false);
    d3.select("#d3-background-image").attr("src", `/images/${image}`);



    var div = d3.select("#contentBox").append("div");
    div.append("img").attrs({
        class: "bigImage",
        src: `/images/${image}`
    });
    div2 = d3.select("#contentBox").append("div");
    {{! div2.append("h3").text("Notes:"); }}
    d3.select(`#text-${id}`).classed("hidden", false);

    {{! div2.append("textarea").attrs({
        class: "bigText"
    }); }}
}

function email() {
    hideEverything();
    d3.select("#emailForm").classed("hidden", false);
}

</script>

</body>

</html>