// From wrapper.mustache

body,
html {
  // position: fixed; // breaks pdf
  width: 100vw;
}

.hidden {
  display: none;
  visibility: hidden;
}

div#footer {
  background: white;
  border-top: solid 1px black;
  height: 15vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
#footer .nav-button {
  background: white;
  padding: 0.5vh;
  width: 15vh;
  height: 15vh;
  margin-right: -5px;
  cursor: pointer;
}

#footer .nav-button img {
  object-fit: cover;
}
#footer .nav-button:hover {
  border: solid 3px black;
  background: red;
}

// img.bigImage,
textarea.bigText {
  width: 80vw;
  height: 100px;
}
#noteBox {
  // margin-top: 550px;
  bottom: 0;
  position: fixed;
}
#imageTitle {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#d3-drawer {
  margin: 0 -15px;
  #d3-background-image {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    opacity: 0.65;
  }

  #drawer-ui {
    #pallete {
      width: 150px;
      
      .swatch {
        pointer-events: all;
      }
      .swatch.active {
        stroke-width: 2px;
        stroke: black;
      }
      .swatch {
        cursor: pointer;
      }
    }
    #colorInput {
      margin: 5px;
    }

    #strokeWidth {
      width: 120px;
      display: inline-block;
      #lineWidthInput {
        width: 120px;
      }
    }

    .btn {
      margin-right: 10px;

      pointer-events: all;

      font-family: FontAwesome;
      fill: #333;
      font-size: 48px;
      text-anchor: middle;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .btn:hover {
      fill: black;
      cursor: pointer;
    }
  }
}

img.bigImage {
  display: none;
}
#saveForm.bigText {
  position: absolute;
  bottom: 50;
}

.sidebar {
  height: 100vh;
  border-right: solid 1px grey;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      font-size: 20px;
      border: solid 1px grey;
      margin-bottom: 3px;
      border-radius: 2px;
      a {
        text-decoration: none;
        padding: 2px;
        display: block;
        &.selected{
          background: lightcyan;
        }
        &:hover {
          background: lightblue;
        }
      }
      margin-right: 14px;
      &.image {
        margin-left: 14px;
        margin-right: 0;
        &.hidden {
          display: none;
        }
      }
    }
  }
}


#wrapper.pdfMode {
  position: relative;
  .sidebar {
    display: none;
    height: 0;
  }
  min-height: 3000px;
  size: auto;
}

.pmac_logo {
  width: 100%;
  padding: 15px;
}

.sideBanner {
  background-image: url(/images/KRasTitleImageNoTitleFrame14577.png);
  background-size: cover;
  background-position: 75%;
  background-repeat: no-repeat;
  opacity: 0.85;
  height: 100vh;
}

div#patientDetailForm {
  padding: 5px;
  border: solid 1px lightgrey;
  width: 50%;
}

.imageThumbDiv {
  border: sold 1px lightgrey;
  padding: 5px;
  margin: 15px;
  tr, td, h3 {
    vertical-align: top;
  }
  h3 {
    margin: 0 5;
  }
  img.thumbnail {
    padding: 5px;
    width: 200px;
  }
}

// https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;  
  }
}
